body {
  min-height: 100vh;
  background: url(../images/bg-desktop.svg) no-repeat;
  background-color: var(--bg-color);
  background-size: cover;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.header {
  padding: 50px;
}
.header img {
  max-width: 180px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;
  gap: 30px;
}
.main .image {
  max-width: 100%;
}
.main .image img {
  width: 100%;
}
.main .description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main .description h1 {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 45px;
  margin-top: 50px;
}

.main .description p {
  font-weight: 400;
  line-height: 25px;
  
}

.main .description a {
  background: var(--text-color);
  border-radius: 50px;
  align-self: flex-start;
  padding: 10px 60px;
  opacity: 0.8;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main .description a:hover {
  background-color: var(--secundary-color);
  color: var(--text-color);
}
.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
}
.footer .social {
  display: flex;
  padding-right: 50px;
  gap: 15px;
}

.footer .social a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--text-color);
  border: 1px solid;
  border-radius: 100%;
  transition: 0.2s;
  padding: 15px;
}

.footer .social a:hover i {
  color: var(--secundary-color);
}

@media (max-width: 930px) {
  
  .main {
    grid-template-columns: 1fr;
  }
  .main .description {
    text-align: center;
  }

  .main .description a {
    margin: 0 auto;
  }
  .footer{
    position: relative;
}
  .footer .social {
    justify-content: center;
    padding: 50px 0;
  }

  .main .description h1 {
    margin-top: 0;
  }
}
@media (max-width:475px){
  body {
    background: url(../images/bg-mobile.svg) no-repeat;
    background-size: 100%;
    background-color: var(--bg-color);
  }
  .header img {
    width: 130px;
  }
}